@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
    --border-radius-circle: 50%;
    --border-radius: 1rem;

    /**************************
    Colors
    **************************/

    --popup-background-color: hsl(217, 19%, 35%);
    --active-pop-background-color: hsl(214, 17%, 51%);
    --share-button-background-color: hsl(212, 23%, 69%);
    --background-color: hsl(210, 46%, 95%);
    --card-background-color: hsl(0, 0%, 100%);

    /**************************
    Typography
    **************************/

    --font-family: "Manrope", sans-serif;

    /*13px*/
    --font-size: 0.8125rem;
    --weight-500: 500;
    --weight-700: 700;
}

/**************************
Global reset
**************************/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

h1,
h2 {
    color: var(--popup-background-color);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-circle);
}

html {
    color-scheme: light only;
    font-size: var(--font-size);
}

html,
body,
main {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--background-color);
}

main {
    display: grid;
    place-items: center;
    padding-block: 2rem;
}

.card {
    max-width: 900px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--card-background-color);
    font-weight: var(--weight-500);
    line-height: 1.5;
    z-index: 1;
}

/**************************
Image section
**************************/

/**************************
Text section
**************************/
article {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

article h1 {
    font-size: large;
    font-weight: var(--weight-700);
}

article > p {
    font-size: 14.5px;
    color: var(--pop-background-color);
    opacity: 0.6;
}

/**************************
Creator section
**************************/
.creator-section.active {
    display: flex;
}

.creator-section {
    display: none;
    gap: 1rem;
    align-items: center;
}

.creator-section img {
    border-radius: var(--border-radius-circle);
    width: 4rem;
    aspect-ratio: 1 / 1;
}

.creator-details {
    flex: 1;
}

.creator-details h2 {
    font-size: medium;
}

.creator-details p {
    color: var(--popup-background-color);
}

.creator-section > button {
    background-color: var(--background-color);
}

.creator-section > button svg {
    fill: var(--share-button-background-color);
}

/**************************
Share section
**************************/
.share-section {
    display: none;
    gap: 1rem;
    padding-top: 2rem;
    background-color: var(--popup-background-color);
    width: 100%;
    position: relative;
    align-items: center;
}

.share-section.active {
    display: flex;
}

.share-section h3 {
    text-transform: uppercase;
    font-weight: var(--weight-500);
    color: var(--share-button-background-color);
    letter-spacing: 5px;
    align-self: center;
}

.links {
    display: flex;
    gap: 1rem;
    flex: 1;
}

.links a {
    display: flex;
    align-items: center;
}

.links a svg {
    fill: var(--card-background-color);
}

.share-section > button {
    background-color: var(--active-pop-background-color);
}

.share-section > button img {
    fill: var(--card-background-color);
}

/**************************
Responsiveness
**************************/
/*337px and less*/
@media screen and (max-width: 21.0625em) {
    .creator-section.active,
    .share-section.active,
    .links {
        flex-direction: column;
    }

    .creator-details h2,
    .creator-details p {
        text-align: center;
    }

    .links {
        align-items: center;
    }
}

/*799px and less*/
@media screen and (max-width: 49.9375em) {
    .share-section.active::before {
        content: "";
        position: absolute;
        width: 200%;
        height: 150%;
        top: -1px;
        z-index: -2;
        left: -50px;
        background-color: var(--popup-background-color);
    }
}

/*800px and more*/
@media screen and (min-width: 50em) {
    .card {
        flex-direction: row;
        position: relative;
        overflow: visible;
    }

    .card.active::before {
        position: absolute;
        content: "";
        width: 25px;
        height: 25px;
        border: 25px solid;
        right: 2%;
        bottom: 20%;
        border-color: var(--popup-background-color) transparent transparent
            transparent;
    }

    .image-section {
        flex: 1;
        align-self: stretch;
    }

    .image-section img {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
        height: 100%;
    }

    article {
        flex: 1;
    }

    article h1 {
        font-size: x-large;
    }

    article > p {
        font-size: medium;
    }

    .creator-section > button:hover,
    .creator-section > button:focus {
        background-color: var(--popup-background-color);
    }

    .creator-section > button:hover svg,
    .creator-section > button:focus svg {
        fill: var(--card-background-color);
    }

    .creator-section {
        display: flex;
    }

    .share-section.active {
        right: -14%;
        bottom: 33%;
        gap: 1rem;
        width: 35%;
        height: 20%;
        padding-top: 0rem;
        position: absolute;
        border-radius: var(--border-radius);
        justify-content: center;
    }

    .links {
        flex: 0;
    }

    .share-section > button {
        display: none;
    }
}
