@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
    --border-radius-circle: 50%;
    --border-radius: 1rem;

    /**************************
    Colors
    **************************/

    --active-pop-background-color: hsl(214, 17%, 51%);
    --background-color: hsl(210, 46%, 95%);
    --card-background-color: hsl(0, 0%, 100%);
    --popup-background-color: hsl(217, 19%, 35%);
    --share-button-background-color: hsl(212, 23%, 69%);

    /**************************
    Typography
    **************************/

    --font-family: "Manrope", sans-serif;

    /*13px*/
    --font-size: 0.8125rem;
    --weight-500: 500;
    --weight-700: 700;
}

/**************************
Global reset
**************************/

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

h1,
h2 {
    color: var(--popup-background-color);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

button {
    align-items: center;
    aspect-ratio: 1 / 1;
    background: none;
    border-radius: var(--border-radius-circle);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: none;
    width: 2.5rem;
}

html {
    color-scheme: light only;
    font-size: var(--font-size);
}

html,
body,
main {
    background-color: var(--background-color);
    min-height: 100dvh;
    min-height: 100vh;
}

main {
    display: grid;
    padding-block: 2rem;
    place-items: center;
}

.card {
    align-items: center;
    background-color: var(--card-background-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    font-weight: var(--weight-500);
    justify-content: center;
    line-height: 1.5;
    max-width: 600px;
    overflow: hidden;
    width: 90vw;
    z-index: 1;
}

/**************************
Image section
**************************/

/**************************
Text section
**************************/
article {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

article h1 {
    font-size: large;
    font-weight: var(--weight-700);
}

article>p {
    color: var(--pop-background-color);
    font-size: 14.5px;
    opacity: 0.6;
}

/**************************
Creator section
**************************/
.creator-section.active {
    display: flex;
}

.creator-section {
    align-items: center;
    display: none;
    gap: 1rem;
}

.creator-section img {
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-circle);
    width: 4rem;
}

.creator-details {
    flex: 1;
}

.creator-details h2 {
    font-size: medium;
    text-align: start;
}

.creator-details p {
    color: var(--popup-background-color);
    text-align: start;
}

.creator-section>button {
    background-color: var(--background-color);
    transition: background-color 1s ease, fill 1s ease;
}

.creator-section>button svg {
    fill: var(--share-button-background-color);
}

.creator-section>button:hover,
.creator-section>button:focus,
.creator-section>button.active {
    background-color: var(--popup-background-color);
}

.creator-section>button:hover svg,
.creator-section>button:focus svg,
.creator-section>button.active svg {
    fill: var(--card-background-color);
}

/**************************
Share section
**************************/
.share-section {
    align-items: center;
    background-color: var(--popup-background-color);
    display: none;
    gap: 1rem;
    padding-top: 2rem;
    position: relative;
    width: 100%;
}

.share-section.active {
    display: flex;
}

.share-section h3 {
    align-self: center;
    color: var(--share-button-background-color);
    font-weight: var(--weight-500);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.links {
    display: flex;
    flex: 1;
    gap: 1rem;
}

.links a {
    align-items: center;
    display: flex;
}

.links a svg {
    fill: var(--card-background-color);
}

.share-section>button {
    background-color: var(--active-pop-background-color);
    transition: background-color 1s ease, fill 1s ease;
}

.share-section>button svg {
    fill: var(--card-background-color);
}

/**************************
Responsiveness
**************************/
/*337px and less*/
@media screen and (max-width: 21.0625em) {

    .creator-section.active,
    .share-section.active,
    .links {
        flex-direction: column;
    }

    .creator-details h2,
    .creator-details p {
        text-align: center;
    }

    .links {
        align-items: center;
    }
}

/*999px and less*/
@media screen and (max-width: 62.4375em) {
    .share-section.active::before {
        background-color: var(--popup-background-color);
        content: "";
        height: 150%;
        left: -50%;
        position: absolute;
        top: -1px;
        width: 200%;
        z-index: -2;
    }
}

/*500px and more*/
@media screen and (min-width: 31.25em) {

    .creator-details h2,
    .creator-details p {
        text-align: center;
    }

    .links {
        justify-content: center;
    }
}

/*1000px and more*/
@media screen and (min-width: 62.5em) {
    .card {
        flex-direction: row;
        max-width: 900px;
        overflow: visible;
        position: relative;
    }

    .card.active::before {
        border-color: var(--popup-background-color) transparent transparent transparent;
        border: 25px solid;
        bottom: 20%;
        content: "";
        height: 25px;
        position: absolute;
        right: 2%;
        width: 25px;
    }

    .image-section {
        align-self: stretch;
        flex: 1;
    }

    .image-section img {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
        height: 100%;
    }

    article {
        flex: 1;
    }

    article h1 {
        font-size: x-large;
    }

    article>p {
        font-size: medium;
    }

    .creator-section {
        display: flex;
    }

    .creator-details h2,
    .creator-details p {
        text-align: start;
    }

    .links {
        justify-content: flex-start;
    }

    .share-section.active {
        border-radius: var(--border-radius);
        bottom: 33%;
        gap: 1rem;
        height: 20%;
        justify-content: center;
        padding-top: 0rem;
        position: absolute;
        right: -14%;
        width: 35%;
    }

    .links {
        flex: 0;
    }

    .share-section>button {
        display: none;
    }
}